<form action="https://tinyletter.com/OpenScienceMOOC" 
      method="post" 
      target="popupwindow" 
      onsubmit="window.open(
        'https://tinyletter.com/OpenScienceMOOC', 
        'popupwindow', 
        'scrollbars=yes,width=400,height=300');return true">
  <p>
    <label for="tlemail">
      Get updates about Open Science MOOC directly in your inbox.
    </label>
    <input name="email" id="tlemail" type="text" placeholder="Enter your email here">
    <input value="1" name="embed" type="hidden">
    <input value="Subscribe" type="submit">
  </p>
</form>
