<form action="https://tinyletter.com/OpenScienceMOOC" 
      method="post" 
      target="popupwindow" 
      onsubmit="window.open(
        'https://tinyletter.com/OpenScienceMOOC', 
        'popupwindow', 
        'scrollbars=yes,width=400,height=300');return true">
  <p>
    <label for="tlemail">
      Enter your email address to sign up for our newsletter. 
    </label>
    <input name="email" id="tlemail" type="text">
    <input value="1" name="embed" type="hidden">
    <input value="Subscribe now" type="submit">
  </p>
</form>
